@CHARSET "UTF-8";

body {
font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
font-size: 12px;
}

input {
    padding-left:2px;
    margin: 4px;
}
      
button {
    margin: 4px 5px;
    -webkit-transition:all 0.1s linear;
}

canvas{   
    border: 1px solid #FFFFFF;
    border-color:black;
    position:absolute;
}

button:hover {
	background-color: #b9d185;
    -webkit-transform:  scale(1.1);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, 0.5); 
}

.item_line {
    background-color: beige;
    margin-top: 7px;
    padding-left: 1%
}

p {
    font-size: 13px;
}

input {
    display: none;
    visibility: hidden;
}

label {
    display: block;
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid #CCC;
    color: #666;
}

    label:hover {
        color: #000;
    }

    label::before {
        font-family: Consolas, monaco, monospace;
        font-weight: bold;
        font-size: 15px;
        content: "+";
        vertical-align: text-top;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 3px;
        background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
    }

#expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    background: url(http://placekitten.com/g/600/300);
    color: #FFF;
}

section {
    padding: 0 20px;
}

#toggle:checked ~ #expand {
    height: 250px;
}

#toggle:checked ~ label::before {
    content: "-";
}