@CHARSET "UTF-8";

body {
font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
font-size: 12px;
}

input {
    padding-left:2px;
    margin: 4px;
}
      
button {
    margin: 4px 5px;
    -webkit-transition:all 0.1s linear;
}

canvas{   
    border: 1px solid #FFFFFF;
    border-color:black;
    position:absolute;
}

button:hover {
	background-color: #b9d185;
    -webkit-transform:  scale(1.1);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, 0.5); 
}

.item_line {
    background-color: beige;
    margin-top: 7px;
    padding-left: 1%
}
